In [4]:
import pandas as pd
import os
import certifi
os.environ['SSL_CERT_FILE'] = certifi.where()
df=pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[2]
print(df)

               Company Exchange Symbol                        Industry  \
0                   3M     NYSE    MMM                    Conglomerate
1     American Express     NYSE    AXP              Financial services
2                Amgen   NASDAQ   AMGN               Biopharmaceutical
3               Amazon   NASDAQ   AMZN                       Retailing
4                Apple   NASDAQ   AAPL          Information technology
5               Boeing     NYSE     BA           Aerospace and defense
6          Caterpillar     NYSE    CAT         Construction and mining
7              Chevron     NYSE    CVX              Petroleum industry
8                Cisco   NASDAQ   CSCO          Information technology
9            Coca-Cola     NYSE     KO                  Drink industry
10              Disney     NYSE    DIS  Broadcasting and entertainment
11       Goldman Sachs     NYSE     GS              Financial services
12          Home Depot     NYSE     HD                Home Improvement
13           Honeywell   NASDAQ    HON                    Conglomerate
14                 IBM     NYSE    IBM          Information technology
15   Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
16      JPMorgan Chase     NYSE    JPM              Financial services
17          McDonald's     NYSE    MCD                   Food industry
18               Merck     NYSE    MRK         Pharmaceutical industry
19           Microsoft   NASDAQ   MSFT          Information technology
20                Nike     NYSE    NKE               Clothing industry
21              Nvidia   NASDAQ   NVDA          Information technology
22    Procter & Gamble     NYSE     PG      Fast-moving consumer goods
23          Salesforce     NYSE    CRM          Information technology
24    Sherwin-Williams     NYSE    SHW            Speciality chemicals
25           Travelers     NYSE    TRV                       Insurance
26  UnitedHealth Group     NYSE    UNH             Managed health care
27             Verizon     NYSE     VZ     Telecommunications industry
28                Visa     NYSE      V              Financial services
29             Walmart     NYSE    WMT                       Retailing

    Date added                                  Notes Index weighting
0   1976-08-09  As Minnesota Mining and Manufacturing           2.11%
1   1982-08-30                                    NaN           4.37%
2   2020-08-31                                    NaN           3.89%
3   2024-02-26                                    NaN           3.21%
4   2015-03-19                                    NaN           3.25%
5   1987-03-12                                    NaN           2.46%
6   1991-05-06                                    NaN           5.13%
7   2008-02-19          Also 1930-07-18 to 1999-11-01           2.14%
8   2009-06-08                                    NaN           0.83%
9   1987-03-12          Also 1932-05-26 to 1935-11-20           0.88%
10  1991-05-06                                    NaN           1.55%
11  2013-09-23                                    NaN           8.84%
12  1999-11-01                                    NaN           5.67%
13  2020-08-31             AlliedSignal and Honeywell           3.07%
14  1979-06-29          Also 1932-05-26 to 1939-03-04           3.54%
15  1997-03-17                                    NaN           2.09%
16  1991-05-06                                    NaN           3.67%
17  1985-10-30                                    NaN           3.97%
18  1979-06-29                                    NaN           1.35%
19  1999-11-01                                    NaN           5.68%
20  2013-09-23                                    NaN           1.07%
21  2024-11-08                                    NaN           1.71%
22  1932-05-26                                    NaN           2.29%
23  2020-08-31                                    NaN           4.70%
24  2024-11-08                                    NaN           5.00%
25  2009-06-08                                    NaN           3.41%
26  2012-09-24                                    NaN           7.47%
27  2004-04-08                                    NaN           0.54%
28  2013-09-23                                    NaN           4.70%
29  1997-03-17                                    NaN           1.35%

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [7]:
df['Date added']=pd.to_datetime(df['Date added'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     datetime64[ns]
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.8+ KB

In [12]:
df[df['Date added']>pd.to_datetime('2015-01-01')]

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70%
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08,NaN,5.00%

In [13]:
pd.to_timedelta(365,unit='D')

Timedelta('365 days 00:00:00')

In [15]:
df

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.11%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.37%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,2.46%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.83%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.55%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.84%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.67%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.09%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.67%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,3.97%
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.35%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.68%
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,1.07%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.29%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70%
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08,NaN,5.00%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.41%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.47%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.54%
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,4.70%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.35%

In [14]:
df['Date added']+pd.to_timedelta(365,unit='D')

0    1977-08-09
1    1983-08-30
2    2021-08-31
3    2025-02-25
4    2016-03-18
5    1988-03-11
6    1992-05-05
7    2009-02-18
8    2010-06-08
9    1988-03-11
10   1992-05-05
11   2014-09-23
12   2000-10-31
13   2021-08-31
14   1980-06-28
15   1998-03-17
16   1992-05-05
17   1986-10-30
18   1980-06-28
19   2000-10-31
20   2014-09-23
21   2025-11-08
22   1933-05-26
23   2021-08-31
24   2025-11-08
25   2010-06-08
26   2013-09-24
27   2005-04-08
28   2014-09-23
29   1998-03-17
Name: Date added, dtype: datetime64[ns]

In [23]:
import yfinance as yf
data=yf.download('TSLA',period='7d',interval='1m')
data

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA
Datetime,,,,,
2025-03-13 13:30:00+00:00,245.820007,248.289993,245.116104,248.125000,7190091
2025-03-13 13:31:00+00:00,244.925003,246.250000,244.100006,245.789993,869249
2025-03-13 13:32:00+00:00,244.600006,245.800003,244.089996,244.850006,754477
2025-03-13 13:33:00+00:00,243.565002,245.079300,243.565002,244.619995,675276
2025-03-13 13:34:00+00:00,244.435394,245.039993,243.529999,243.589996,532778
...,...,...,...,...,...
2025-03-21 19:55:00+00:00,247.580002,249.050003,247.029999,248.960007,763927
2025-03-21 19:56:00+00:00,247.960007,248.149994,247.600006,247.600006,503154
2025-03-21 19:57:00+00:00,248.195007,248.615005,247.960007,247.960007,512863
2025-03-21 19:58:00+00:00,248.860001,248.880005,248.160004,248.210007,565360
2025-03-21 19:59:00+00:00,249.115005,249.490005,248.580002,248.860001,1797250

In [24]:
!pip install pendulum

Collecting pendulum
  Using cached pendulum-3.0.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.9 kB)
Requirement already satisfied: python-dateutil>=2.6 in /Users/algo trading 2025/batch 30 hindi/.venv/lib/python3.12/site-packages (from pendulum) (2.9.0.post0)
Requirement already satisfied: tzdata>=2020.1 in /Users/algo trading 2025/batch 30 hindi/.venv/lib/python3.12/site-packages (from pendulum) (2025.1)
Collecting time-machine>=2.6.0 (from pendulum)
  Using cached time_machine-2.16.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (21 kB)
Requirement already satisfied: six>=1.5 in /Users/algo trading 2025/batch 30 hindi/.venv/lib/python3.12/site-packages (from python-dateutil>=2.6->pendulum) (1.17.0)
Using cached pendulum-3.0.0-cp312-cp312-macosx_11_0_arm64.whl (352 kB)
Using cached time_machine-2.16.0-cp312-cp312-macosx_10_9_universal2.whl (20 kB)
Installing collected packages: time-machine, pendulum
Successfully installed pendulum-3.0.0 time-machine-2.16.0

In [35]:
import pendulum
time_zone= 'America/New_York'
tz1='Asia/Kolkata'
tz3='UTC'
print(pendulum.now(time_zone))

2025-03-22 07:45:37.706686-04:00

In [30]:
pendulum.timezones()

('Africa/Abidjan',
 'Africa/Algiers',
 'Africa/Bissau',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/El_Aaiun',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Khartoum',
 'Africa/Lagos',
 'Africa/Maputo',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Asuncion',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Costa_Rica',
 'America/Cuiaba',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/New_York',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Johns',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Tijuana',
 'America/Toronto',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Chita',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuching',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/South_Georgia',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Etc/GMT',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/UTC',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Chisinau',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Helsinki',
 'Europe/Istanbul',
 'Europe/Kaliningrad',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/London',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Minsk',
 'Europe/Moscow',
 'Europe/Paris',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Sofia',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zurich',
 'Factory',
 'Indian/Chagos',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Marquesas',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'GMT',
 'Australia/ACT',
 'Australia/LHI',
 'Australia/NSW',
 'Australia/North',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT+0',
 'Etc/GMT-0',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/Universal',
 'Etc/Zulu',
 'GB',
 'GB-Eire',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'Hongkong',
 'Iceland',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'Zulu',
 'America/Buenos_Aires',
 'America/Catamarca',
 'America/Cordoba',
 'America/Indianapolis',
 'America/Jujuy',
 'America/Knox_IN',
 'America/Louisville',
 'America/Mendoza',
 'America/Virgin',
 'Pacific/Samoa',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Kampala',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'America/Anguilla',
 'America/Antigua',
 'America/Aruba',
 'America/Atikokan',
 'America/Blanc-Sablon',
 'America/Cayman',
 'America/Creston',
 'America/Curacao',
 'America/Dominica',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Kralendijk',
 'America/Lower_Princes',
 'America/Marigot',
 'America/Montserrat',
 'America/Nassau',
 'America/Port_of_Spain',
 'America/St_Barthelemy',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Tortola',
 'Antarctica/DumontDUrville',
 'Antarctica/McMurdo',
 'Antarctica/Syowa',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Bahrain',
 'Asia/Brunei',
 'Asia/Kuala_Lumpur',
 'Asia/Kuwait',
 'Asia/Muscat',
 'Asia/Phnom_Penh',
 'Asia/Vientiane',
 'Atlantic/Reykjavik',
 'Atlantic/St_Helena',
 'Europe/Amsterdam',
 'Europe/Bratislava',
 'Europe/Busingen',
 'Europe/Copenhagen',
 'Europe/Guernsey',
 'Europe/Isle_of_Man',
 'Europe/Jersey',
 'Europe/Ljubljana',
 'Europe/Luxembourg',
 'Europe/Mariehamn',
 'Europe/Monaco',
 'Europe/Oslo',
 'Europe/Podgorica',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Skopje',
 'Europe/Stockholm',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Zagreb',
 'Indian/Antananarivo',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Chuuk',
 'Pacific/Funafuti',
 'Pacific/Majuro',
 'Pacific/Midway',
 'Pacific/Pohnpei',
 'Pacific/Saipan',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Africa/Timbuktu',
 'America/Argentina/ComodRivadavia',
 'America/Atka',
 'America/Coral_Harbour',
 'America/Ensenada',
 'America/Fort_Wayne',
 'America/Montreal',
 'America/Nipigon',
 'America/Pangnirtung',
 'America/Porto_Acre',
 'America/Rainy_River',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Shiprock',
 'America/Thunder_Bay',
 'America/Yellowknife',
 'Antarctica/South_Pole',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Harbin',
 'Asia/Kashgar',
 'Asia/Tel_Aviv',
 'Atlantic/Jan_Mayen',
 'Australia/Canberra',
 'Australia/Currie',
 'Europe/Belfast',
 'Europe/Tiraspol',
 'Europe/Uzhgorod',
 'Europe/Zaporozhye',
 'Pacific/Enderbury',
 'Pacific/Johnston',
 'Pacific/Yap',
 'WET',
 'Africa/Asmera',
 'America/Godthab',
 'Asia/Ashkhabad',
 'Asia/Calcutta',
 'Asia/Chungking',
 'Asia/Dacca',
 'Asia/Istanbul',
 'Asia/Katmandu',
 'Asia/Macao',
 'Asia/Rangoon',
 'Asia/Saigon',
 'Asia/Thimbu',
 'Asia/Ujung_Pandang',
 'Asia/Ulan_Bator',
 'Atlantic/Faeroe',
 'Europe/Kiev',
 'Europe/Nicosia',
 'HST',
 'PST8PDT',
 'Pacific/Ponape',
 'Pacific/Truk')

In [29]:
import datetime
print(datetime.datetime.now())

2025-03-22 17:10:24.898389

In [40]:
data.info()
data.columns
l1=[]
for i in data.columns:
    l1.append(i[0])
data.columns= l1

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2730 entries, 2025-03-13 13:30:00+00:00 to 2025-03-21 19:59:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, TSLA)   2730 non-null   float64
 1   (High, TSLA)    2730 non-null   float64
 2   (Low, TSLA)     2730 non-null   float64
 3   (Open, TSLA)    2730 non-null   float64
 4   (Volume, TSLA)  2730 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 128.0 KB

In [42]:
data.reset_index(inplace=True)

In [45]:
data

,Datetime,Close,High,Low,Open,Volume
0,2025-03-13 13:30:00+00:00,245.820007,248.289993,245.116104,248.125000,7190091
1,2025-03-13 13:31:00+00:00,244.925003,246.250000,244.100006,245.789993,869249
2,2025-03-13 13:32:00+00:00,244.600006,245.800003,244.089996,244.850006,754477
3,2025-03-13 13:33:00+00:00,243.565002,245.079300,243.565002,244.619995,675276
4,2025-03-13 13:34:00+00:00,244.435394,245.039993,243.529999,243.589996,532778
...,...,...,...,...,...,...
2725,2025-03-21 19:55:00+00:00,247.580002,249.050003,247.029999,248.960007,763927
2726,2025-03-21 19:56:00+00:00,247.960007,248.149994,247.600006,247.600006,503154
2727,2025-03-21 19:57:00+00:00,248.195007,248.615005,247.960007,247.960007,512863
2728,2025-03-21 19:58:00+00:00,248.860001,248.880005,248.160004,248.210007,565360
2729,2025-03-21 19:59:00+00:00,249.115005,249.490005,248.580002,248.860001,1797250

# remove time zone

In [46]:
data['Datetime'].dt.tz_localize(None)

0      2025-03-13 13:30:00
1      2025-03-13 13:31:00
2      2025-03-13 13:32:00
3      2025-03-13 13:33:00
4      2025-03-13 13:34:00
               ...
2725   2025-03-21 19:55:00
2726   2025-03-21 19:56:00
2727   2025-03-21 19:57:00
2728   2025-03-21 19:58:00
2729   2025-03-21 19:59:00
Name: Datetime, Length: 2730, dtype: datetime64[ns]

In [48]:
time_zone= 'America/New_York'
data['Datetime'].dt.tz_convert(time_zone).dt.tz_localize(None)

0      2025-03-13 09:30:00
1      2025-03-13 09:31:00
2      2025-03-13 09:32:00
3      2025-03-13 09:33:00
4      2025-03-13 09:34:00
               ...
2725   2025-03-21 15:55:00
2726   2025-03-21 15:56:00
2727   2025-03-21 15:57:00
2728   2025-03-21 15:58:00
2729   2025-03-21 15:59:00
Name: Datetime, Length: 2730, dtype: datetime64[ns]