In [1]:
import pandas as pd
df=pd.read_csv('/Users/algo trading 2025/batch 30 hindi/9_data_analysis/sp500.csv')
df

                           Name                  Sector   Price   EPS
0                     Apple Inc  Information Technology  170.12  9.20
1                    Abbvie Inc             Health Care   93.29  5.31
2           Abbott Laboratories             Health Care   55.28   NaN
3                 Accenture Plc  Information Technology  145.30  5.91
4                  Allergan Plc             Health Care  171.81   NaN
..                          ...                     ...     ...   ...
97   Verizon Communications Inc      Telecommunications   45.85  3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25  5.10
99        Wells Fargo & Company              Financials   54.02  4.14
100             Wal-Mart Stores        Consumer Staples   96.08  4.36
101            Exxon Mobil Corp                  Energy   80.31  3.56

[102 rows x 4 columns]

# string accessor

In [10]:
s1='apple inc'
s1[-3:]
s1.replace('h','e')
s1.replace(' ','-')

'apple-inc'

In [7]:
df['Name'].str[-3:]

0      Inc
1      Inc
2      ies
3      Plc
4      Plc
      ...
97     Inc
98     nce
99     any
100    res
101    orp
Name: Name, Length: 102, dtype: object

In [11]:
df['Name'].str.replace(' ','-')

0                       Apple-Inc
1                      Abbvie-Inc
2             Abbott-Laboratories
3                   Accenture-Plc
4                    Allergan-Plc
                  ...
97     Verizon-Communications-Inc
98       Walgreens-Boots-Alliance
99          Wells-Fargo-&-Company
100               Wal-Mart-Stores
101              Exxon-Mobil-Corp
Name: Name, Length: 102, dtype: object

In [15]:
list1=[]
for i in df['Name']:
    list1.append(i.replace(' ','-'))
list1

['Apple-Inc',
 'Abbvie-Inc',
 'Abbott-Laboratories',
 'Accenture-Plc',
 'Allergan-Plc',
 'American-International-Group',
 'Allstate-Corp',
 'Amgen',
 'Amazon.Com-Inc.',
 'American-Express-Company',
 'Boeing-Company',
 'Bank-of-America-Corp',
 'Biogen-Inc',
 'Bank-of-New-York-Mellon-Corp',
 'Blackrock',
 'Bristol-Myers-Squibb-Company',
 'Berkshire-Hath-Hld-B',
 'Citigroup-Inc',
 'Caterpillar-Inc',
 'Celgene-Corp',
 'Charter-Communicatio',
 'Colgate-Palmolive-Company',
 'Comcast-Corp-A',
 'Capital-One-Financial-Corp',
 'Conocophillips',
 'Costco-Wholesale',
 'Cisco-Systems-Inc',
 'CVS-Corp',
 'Chevron-Corp',
 'Danaher-Corp',
 'Walt-Disney-Company',
 'Duke-Energy-Corp',
 'Dowdupont-Inc.',
 'Emerson-Electric-Company',
 'Exelon-Corp',
 'Ford-Motor-Company',
 'Facebook-Inc',
 'Fedex-Corp',
 '21st-Centry-Fox-Class-B',
 '21st-Centry-Fox-Class-A',
 'General-Dynamics-Corp',
 'General-Electric-Company',
 'Gilead-Sciences-Inc',
 'General-Motors-Company',
 'Alphabet-Class-C',
 'Alphabet-Class-A',
 'Goldman-Sachs-Group',
 'Halliburton-Company',
 'Home-Depot',
 'Honeywell-International-Inc',
 'International-Business-Machines',
 'Intel-Corp',
 'Johnson-&-Johnson',
 'JP-Morgan-Chase-&-Co',
 'Kraft-Heinz-Co',
 'Kinder-Morgan',
 'Coca-Cola-Company',
 'Eli-Lilly-and-Company',
 'Lockheed-Martin-Corp',
 "Lowe's-Companies",
 'Mastercard-Inc',
 "McDonald's-Corp",
 'Mondelez-Intl-Cmn-A',
 'Medtronic-Inc',
 'Metlife-Inc',
 '3M-Company',
 'Altria-Group',
 'Monsanto-Company',
 'Merck-&-Company',
 'Morgan-Stanley',
 'Microsoft-Corp',
 'Nextera-Energy',
 'Nike-Inc',
 'Oracle-Corp',
 'Occidental-Petroleum-Corp',
 'Priceline-Group',
 'Pepsico-Inc',
 'Pfizer-Inc',
 'Procter-&-Gamble-Company',
 'Philip-Morris-International-Inc',
 'Paypal-Holdings',
 'Qualcomm-Inc',
 'Raytheon-Company',
 'Starbucks-Corp',
 'Schlumberger-N.V.',
 'Southern-Company',
 'Simon-Property-Group',
 'AT&T-Inc',
 'Target-Corp',
 'Time-Warner-Inc',
 'Texas-Instruments',
 'Unitedhealth-Group-Inc',
 'Union-Pacific-Corp',
 'United-Parcel-Service',
 'U.S.-Bancorp',
 'United-Technologies-Corp',
 'Visa-Inc',
 'Verizon-Communications-Inc',
 'Walgreens-Boots-Alliance',
 'Wells-Fargo-&-Company',
 'Wal-Mart-Stores',
 'Exxon-Mobil-Corp']

In [17]:
df['Name']=list1
df

,Name,Sector,Price,EPS,new
0,Apple-Inc,Information Technology,170.12,9.20,Apple-Inc
1,Abbvie-Inc,Health Care,93.29,5.31,Abbvie-Inc
2,Abbott-Laboratories,Health Care,55.28,NaN,Abbott-Laboratories
3,Accenture-Plc,Information Technology,145.30,5.91,Accenture-Plc
4,Allergan-Plc,Health Care,171.81,NaN,Allergan-Plc
...,...,...,...,...,...
97,Verizon-Communications-Inc,Telecommunications,45.85,3.75,Verizon-Communications-Inc
98,Walgreens-Boots-Alliance,Consumer Staples,70.25,5.10,Walgreens-Boots-Alliance
99,Wells-Fargo-&-Company,Financials,54.02,4.14,Wells-Fargo-&-Company
100,Wal-Mart-Stores,Consumer Staples,96.08,4.36,Wal-Mart-Stores
101,Exxon-Mobil-Corp,Energy,80.31,3.56,Exxon-Mobil-Corp