In [9]:
import pandas as pd
df=pd.read_csv('/Users/algo trading 2025/batch 30 hindi/9_data_analysis/sp500.csv')
df

                           Name                  Sector   Price   EPS
0                     Apple Inc  Information Technology  170.12  9.20
1                    Abbvie Inc             Health Care   93.29  5.31
2           Abbott Laboratories             Health Care   55.28   NaN
3                 Accenture Plc  Information Technology  145.30  5.91
4                  Allergan Plc             Health Care  171.81   NaN
..                          ...                     ...     ...   ...
97   Verizon Communications Inc      Telecommunications   45.85  3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25  5.10
99        Wells Fargo & Company              Financials   54.02  4.14
100             Wal-Mart Stores        Consumer Staples   96.08  4.36
101            Exxon Mobil Corp                  Energy   80.31  3.56

[102 rows x 4 columns]

In [10]:
df.loc[2,'EPS']=200
df

                           Name                  Sector   Price     EPS
0                     Apple Inc  Information Technology  170.12    9.20
1                    Abbvie Inc             Health Care   93.29    5.31
2           Abbott Laboratories             Health Care   55.28  200.00
3                 Accenture Plc  Information Technology  145.30    5.91
4                  Allergan Plc             Health Care  171.81     NaN
..                          ...                     ...     ...     ...
97   Verizon Communications Inc      Telecommunications   45.85    3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25    5.10
99        Wells Fargo & Company              Financials   54.02    4.14
100             Wal-Mart Stores        Consumer Staples   96.08    4.36
101            Exxon Mobil Corp                  Energy   80.31    3.56

[102 rows x 4 columns]

In [2]:
df=df.ffill(axis=0)
df

                           Name                  Sector   Price   EPS
0                     Apple Inc  Information Technology  170.12  9.20
1                    Abbvie Inc             Health Care   93.29  5.31
2           Abbott Laboratories             Health Care   55.28  5.31
3                 Accenture Plc  Information Technology  145.30  5.91
4                  Allergan Plc             Health Care  171.81  5.91
..                          ...                     ...     ...   ...
97   Verizon Communications Inc      Telecommunications   45.85  3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25  5.10
99        Wells Fargo & Company              Financials   54.02  4.14
100             Wal-Mart Stores        Consumer Staples   96.08  4.36
101            Exxon Mobil Corp                  Energy   80.31  3.56

[102 rows x 4 columns]

In [6]:
df['Price'].std()

np.float64(240.768463163222)

In [7]:
sp500=df.copy()
sp500

                           Name                  Sector   Price   EPS
0                     Apple Inc  Information Technology  170.12  9.20
1                    Abbvie Inc             Health Care   93.29  5.31
2           Abbott Laboratories             Health Care   55.28  5.31
3                 Accenture Plc  Information Technology  145.30  5.91
4                  Allergan Plc             Health Care  171.81  5.91
..                          ...                     ...     ...   ...
97   Verizon Communications Inc      Telecommunications   45.85  3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25  5.10
99        Wells Fargo & Company              Financials   54.02  4.14
100             Wal-Mart Stores        Consumer Staples   96.08  4.36
101            Exxon Mobil Corp                  Energy   80.31  3.56

[102 rows x 4 columns]

In [8]:
print("mean: ")
print(sp500["Price"].mean())

print("median: ")
print(sp500["Price"].median())

print("mode: ")
print(sp500["Price"].mode()[0])

print("minimum: ")
print(sp500["Price"].min())

print("maximum: ")
print(sp500["Price"].max())

print("variance: ")
print(sp500["Price"].var())

print("standard deviation: ")
print(sp500["Price"].std())

mean:
150.50068627450983
median:
88.295
mode:
12.11
minimum:
12.11
maximum:
1762.23
variance:
57969.4528539798
standard deviation:
240.768463163222